<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
  	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
  	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    input,th,body{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    </style>
	</head>
	<body>
		<h1>借阅图书信息</h1>
		<table class="table table-hover table-bordered">
			<thead>
				<tr class="info">
                    <th>学号</th>
                    <th>读者</th>
					<th>书名</th>
					<th>作者</th>
					<th>归还</th>
				</tr>
			</thead>
			<tbody>
                {% for bookInfo in BorrowBookList %}
				    <tr>
                        <form action="ReturnBook" method="post">
                            <td><input type="text" name="stuid" value="{{ bookInfo[1] }}"></td>
                            <td><input type="text" name="username" value="{{ bookInfo[2] }}"></td>
                            <td><input type="text" name="bookName" value="{{ bookInfo[3] }}"></td>
                            <td><input type="text" name="bookAuthor" value="{{ bookInfo[4] }}"></td>
                            <td><input type="submit" name="归还"></td>
                        </form>
                    </tr>
				    <tr></tr>
                {% endfor %}
			</tbody>
		</table>
	</body>
</html>
